* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: sans-serif;
    font-size: 10pt;
	font-weight: bold;
}

window#waybar {
    background-color: #121618;
}

window#waybar.hidden {
    opacity: 0;
}

#custom-logo {
	font-size: 10pt;
	font-weight: normal;
	color: #b7b7b7;
}

#workspaces {
	padding: 0px 0px;
}

#workspaces button {
	padding: 2px 0px;
	border-bottom: 2px solid #21242b;
	color: #b7b7b7;
	border-radius: 2px;
}

#workspaces button.empty {
	border-bottom: 2px solid transparent;
	background-color: #121618;
	color: #21242b;
}

#workspaces button.active {
	border-bottom: 2px solid #57d7f7;
	background-color: #111111;
	color: #57d7f7;
}

#workspaces button.urgent {
	background-color: #f74747;
}

#workspaces button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
	transition: none;
	border-color: transparent;
	background-color: #111111;
	color: #57e7d7;
	border-bottom: 2px solid #57e7d7;
}

#window {
	color: #b7b7b7;
	padding: 0px 8px;
}

#clock,
#backlight,
#cpu,
#memory,
#wireplumber,
#network,
#disk,
#battery {
	padding: 0 6px;
	/* background-color: #111111; */
	/* border-bottom: 2px solid #21242b; */
	color: #b7b7b7;
}

@keyframes blink {
    to {
		border-bottom: 2px solid #b7b7b7;
        color: #b7b7b7;
    }
}

/*
#backlight {
	border-bottom: 2px solid #5757d7;
	color: #5757d7;
}

#cpu {
	border-bottom: 2px solid #ff8747;
	color: #ff8747;
}

#memory {
	border-bottom: 2px solid #f74747;
	color: #f74747;
}

#wireplumber {
	border-bottom: 2px solid #57d7f7;
	color: #57d7f7;
}

#battery {
	border-bottom: 2px solid #57e7d7;
	color: #57e7d7;
}

#disk {
	border-bottom: 2px solid #8787f7;
	color: #8787f7;
}

#network {
	border-bottom: 2px solid #ff8747;
	color: #ff8747;
}

#clock {
	border-bottom: 2px solid #21242b;
	color: #b7b7b7;
}
*/

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #dc2800;
	border-bottom: 2px solid #dc2800;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
