* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: sans;
    font-size: 10pt;
	font-weight: bold;
}

window#waybar {
    background-color: #121618;
}

window#waybar.hidden {
    opacity: 0;
}

#workspaces {
	padding: 0px 8px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#workspaces button {
	margin-right: 2px;
	padding: 2px 2px;
	color: #282828;
	background-color: #121212;
	border-radius: 2px;
}

#workspaces button.empty {
	color: #282828;
}

#workspaces button.active {
	border-bottom: 2px solid #dc2800;
	color: #d8d8d8;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#workspaces button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
	transition: none;
	border-color: transparent;
	background-color: inherit;
	color: #57d7f7;
	border-bottom: 2px solid #57d7f7;
}

#custom-logo {
	font-weight: bold;
	/* border-top: 2px solid #282828; */
	/* border-bottom: 2px solid #282828; */
	color: #282828;
	margin-left: 12px;
}

#clock,
#backlight,
#cpu,
#memory,
#wireplumber,
#network,
#battery {
	padding: 0 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	/* background-color: #121618; */
	border-radius: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#backlight {
	color: #5757d7;
	border-bottom: 2px solid #5757d7;
}

#cpu {
	color: #ff8747;
	border-bottom: 2px solid #ff8747;
}

#memory {
	color: #f74747;
	border-bottom: 2px solid #f74747;
}

#wireplumber {
	color: #57d7f7;
	border-bottom: 2px solid #57d7f7;
}

#battery {
	color: #57e7d7;
	border-bottom: 2px solid #57e7d7;
}

#network {
	color: #5757d7;
	border-bottom: 2px solid #5757d7;
}

#clock {
	background-color: #dc2800;
	color: #282828;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #dc2800;
    color: #282828;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
