* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: sans;
    font-size: 10pt;
	font-weight: normal;
}

window#waybar {
    background-color: #121618;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
	padding: 0px 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 8px;
}

#workspaces button {
	margin-right: 2px;
	padding: 2px 2px;
	color: #d8d8d8;
	background-color: #121212;
	border-radius: 2px;
}

#workspaces button.empty {
	color: #282828;
}

#workspaces button.active {
	background-color: #dc2800;
	color: #282828;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#clock,
#backlight,
#cpu,
#memory,
#wireplumber,
#network,
#battery {
	padding: 0 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	/* background-color: #121618; */
	border-radius: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#clock {
	background-color: #57d7f7;
	color: #282828;
}

#backlight {
	background-color: #5757d7;
	color: #282828;
}

#cpu {
	background-color: #ff8747;
	color: #282828;
}

#memory {
	background-color: #f74747;
	color: #282828;
}

#wireplumber {
	background-color: #57d7f7;
	color: #282828;
}

#network {
	background-color: #5757d7;
	color: #282828;
}

#battery {
	background-color: #57e7d7;
	color: #282828;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #dc2800;
    color: #282828;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
